<form>
    <div class="mb-3">
        <!--Inspection Type-->
        <label for="inspectionTypeId" class="form-label">Inspection Type</label>
        <input class="form-control" type="text" *ngIf="childComponentAdd===false" disabled value="{{SelectedInspection.inspectionType}}">
        <select required class="form-control" name="inspectionTypeId" id="inspectionTypeId" [hidden]="childComponentAdd===false" [(ngModel)]="inspectionTypeId" #TypeV="ngModel">
            <option *ngFor="let item of InspectionTypesList" value="{{item.id}}">{{item.name}}</option>
        </select>
        <!--Inspection Status-->
        <div class="mb-3">
            <label for="status" class="form-label">Status</label>
            <select required class="form-control" name="status" id="status" [(ngModel)]="status" #StatusV="ngModel">
                <option value="UNSAT">UNSAT</option>
                <option value="SAT">SAT</option>
            </select>
        </div>
        <!--Inspection Comment-->
        <div class="mb-3">
            <label for="comment" class="form-label">Comment</label>
            <input type="text" class="form-control" [(ngModel)]="comment" name="comment" id="comment" maxlength="200">
        </div>
        <div *ngIf="(TypeV.invalid && (TypeV.dirty || TypeV.touched))||(StatusV.invalid && (StatusV.dirty || StatusV.touched))" class="alert"> 
            Inspection type and status must be specified.
        </div>
        <!--Buttons-->
        <button [disabled]="TypeV.invalid || StatusV.invalid" (click)="addInspection()" *ngIf="childComponentAdd===true" class="btn btn-primary">
            Add
        </button>
        <button (click)="updateInspection()" *ngIf="childComponentAdd===false" class="btn btn-primary">
            Update
        </button>
    </div>
</form>
