#add-success-alert,#update-success-alert,#delete-success-alert,#register-success-alert{
    display: none;
    animation: fadeInAndOut 4s;
}

@-webkit-keyframes fadeInAndOut{
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes fadeInAndOut{
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}